* {
    margin: 0px;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
}

.head {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(130deg, rgb(36, 85, 163) 23%, rgb(52, 151, 219) 52%, rgb(52, 142, 219) 58%, rgb(52, 131, 219) 65%, rgb(40, 116, 166) 74%);
    /* rgb(18, 124, 237) */
    align-items: center;
    padding-left: 10px;
}

.vit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    /* padding-left: ; */
    align-items: center;
}

.vit h1 {
    color: white;
}

h1 span {
    font-weight: 100;

}

.vit img {
    width: 35px;
    padding-right: 10px;
}

.student {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Open sans', 'Times New Roman', Times, serif;
    padding-right: 15px;
}

.student p {
    color: white;
}

.student img {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    /* padding:6px; */
    margin: 10px;
}

.container {
    display: flex;
    height: 100%;
}

.navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    /* align-items: stretch; */
    align-self: stretch;
    align-items: center;
    padding-right: 8px;
    min-width: 40px;
    top:50px;
    overflow: hidden;
    position: fixed;
    /* width: 20%; */
    background-color: rgb(254, 254, 255);
    box-shadow: 2px 0px 6px rgb(187, 187, 187);
    z-index: 2;
}

a {
    margin: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content {
    flex: 30;
    background-color: rgb(237, 240, 240);
    height: 100%;
    margin-left: 40px;
    margin-top: 50px;
}

#spotlight {
    color: black;
    font-family: 'Open sans', 'Times New Roman', Times, serif;
    font-size: larger;
    margin-top: 10px;
    margin: auto;
    /* margin-left: 25px; */
    /* margin-right: 22px; */
    padding: 5px 0px;
    background-color: rgb(246,247,246);
    width: 95%;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.content ul {
    /* padding-left: 5px; */
    margin-left: 2px;
    list-style-type: circle;
    /* width: 90%; */
}

.content li {
    padding: 5px;
}

.showinfo {
    display: none;
    /* border:1px solid #000; */
    background-color: aliceblue;
    height: fit-content;
    font-family: 'Open sans';
    width: 170px;

    /* margin-left:150px; */
    box-shadow: 1px 1px 3px gray;
}

a:hover+.showinfo {
    display: block;
    position: fixed;
    margin-top: 15px;
    min-height: 25px;
    text-align: center;
    padding-top: 2px;
    /* position:fixed; */
    /* top:5px; */
    left: 40px;
    /* color: #000000; */
}

.spot {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(232, 232, 232);
}

.spot ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    /* margin: auto; */
    /* width: 94%; */
    align-self: stretch;
}

.spot li {
    border-bottom: 1px solid rgb(209, 209, 209);
    /* display: block; */
    width: 93%;
    margin: auto;
    padding: 5px 0px;
    cursor: pointer;
    /* box-sizing: border-box; */
}

#btnspotlight {
    font-family: 'Open sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    color: black;
    background-color: rgb(0, 177, 231);
    min-height: 27px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
}




/* Proctor details */

.proctor {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(232, 232, 232);
    /* border-bottom: 1px solid rgb(209, 209, 209); */
}

.proctor h1 {
    text-align: center;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 69, 69);
    margin-top: 15px;
}

#proctortable {
    width: 95%;
    margin-bottom: 20px;
}

#proctortable,
td {
    border: 1px solid rgb(223, 226, 230);
    padding: 6px;
    border-collapse: collapse;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
}

#ravi img {
    border-radius: 10px;
    border: 3px solid rgb(60, 140, 189);
    width: 120px;
}

#ravi {
    border: 0px;
}

#proctortable td:nth-child(1) {
    background-color: rgb(170, 166, 190);
    font-weight: bold;
    color: rgb(51, 53, 59);
}

#proctortable td:nth-child(2) {
    background-color: rgb(243, 223, 222);
    color: rgb(51, 53, 59);
    border-right: 0px;
}


/* Personal information */
.personal {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;

}

#personalinfo {
    width: 97%;
    /* border: 1px solid rgb(255, 255, 255); */
    border-collapse: collapse;
    margin-bottom: 50px;
}

#personalinfo td:nth-child(1) {
    background-color: rgb(213, 210, 211);
    font-weight: bold;
    color: rgb(51, 53, 59);
}

#personalinfo td:nth-child(2) {
    background-color: rgb(243, 223, 222);
    color: rgb(51, 53, 59);
    border-right: 0px;
}

/* .caption{
    background-color: rgb(174,186,221);
    min-height: 30px;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
} */

#selu img {
    border-radius: 10px;
    border: 3px solid rgb(60, 140, 189);
    width: 140px;
    height: 150px;
}


/* change password */

.password {
    background-color: white;
    margin-top: 10px;
    border-top: 3px solid rgb(60, 140, 189);
    border-radius: 3px;
    margin: 3px;
    margin-top: 7px;
}

.password h1 {
    /* text-align: center; */
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 69, 69);
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: larger;
    padding: 4px;
}


#password {
    width: 97%;
    border-collapse: collapse;
    margin: auto;
    border-top: 9px solid rgb(60, 140, 189);

}

#password td {
    padding: 8px;
}


#submit {
    background-color: rgb(45, 107, 161);
    color: white;
    border-radius: 5px;
    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    border: 0px;
    min-height: 30px;
    min-width: 70px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgb(178, 177, 177);
    /* z-index: 1; */
}

.password {
    font-size: small;
    /* z-index: 3; */
}

.password ul {
    margin-bottom: 10px;
    list-style-type: disc;
}


/* grade history */

.grade {
    border-top: 3px solid rgb(60, 140, 189);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    margin-top: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: white;
    box-shadow: 1px 1px 2px rgb(232, 232, 232);
}

#h1 h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grade h1 {

    font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 69, 69);
    margin-left: 15px;
    font-weight: 500;
    /* align-items: none; */
    margin-bottom: 5px;
    /* text-align: left; */
    font-size: x-large;
    padding: 4px;
}

#student {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

#student tr:nth-child(1) {
    background-color: rgb(60, 140, 189);
    color: white;
    /* padding: 40px; */
    z-index: 1;
}

#student td {
    padding: 7px;
}

#student th {
    padding: 9px;
    border: 1px solid rgb(223, 226, 230);
}


#gradeDetails {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

#gradeDetails tr:nth-child(1) {
    background-color: rgb(60, 140, 189);
    color: white;

}

#gradeDetails td,
th {
    padding: 8px;
}

#gradeDetails th {
    border: 1px solid rgb(223, 226, 230);
}

.caption {
    background-color: rgb(60, 140, 189);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.btndownload {
    float: right;
    margin: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: #54af50;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    min-width: 120px;
}

.fail ul {
    list-style: disc;
    color: red;
    font-size: medium;
}

#curriculum {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

#curriculum td,
th {
    padding: 8px;
}

#curiculum th {
    border: 1px solid rgb(223, 226, 230);
}

.tableHeader {
    background-color: rgb(60, 140, 189);
    color: white;
    text-align: center;
    font-weight: 600;
}

#basket {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

#basket td,
th {
    padding: 8px;
}

#basket th {
    border: 1px solid rgb(223, 226, 230);
}

.cgpa {
    width: 94%;
    margin: auto;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-top: 3px solid orange;
}

#cgpatable {
    border-bottom-color: #b1dfff;
    border-left-color: #b1dfff;
    border-right-color: #b1dfff;
    border-collapse: collapse;
    margin: auto;
    width: 95%;
    margin-bottom:10px ;
}


/* time table */
.timetable {


    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;

    /* align-items: center; */
    /* justify-content: center; */
    background-color: white;
    box-shadow: 1px 1px 2px rgb(232, 232, 232);
}

.timetable h1{

        font-family: 'Open sans', Georgia, 'Times New Roman', Times, serif;
        color: rgb(68, 69, 69);
        margin-left: 15px;
        font-weight: 500;
        /* align-items: none; */
        margin-bottom: 5px;
        /* text-align: left; */
        font-size: x-large;
        padding: 4px;
}

.timetable ul li{
    width: 90%;
}

#timetable,#timetable2{
    border-collapse: collapse;
    margin: auto;
    width: 95%;
}